body {
    padding-top: 2rem;
    background: linear-gradient(to right, #3e32a8,#634cd4);
    height: 100vh;
    font-family: consolas;
  text-align: center;
  overflow: hidden;

}


header {
    text-align: center;
    color: white;
}


header strong {
    display: none;
}

.menu {
    display: block;
    padding-top: 5rem;
    text-align: center;
}

.btn {
  padding: 0.8rem 1.5rem;
  background : transparent;
  border : none;
  outline: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: border 200ms;
}



.btn-orange{
   background: linear-gradient(to right,#59ff5c, #3eb341);
}

.btn-gray {
    color: black;
    font-weight: bolder;
    background: linear-gradient(to top, #d9deda, #969c95);
}

.quiz {
  display: none;
  justify-content: center;
}

.m {
    margin: 10px;
}

.quiz .__question {
    padding: 2rem;
}

.quiz .__question .question{
   color: white;
   font-size: large;
   font-weight: bolder;
   padding-bottom: 2rem;
}


footer {
    padding-top: 5rem;
    color: white;
    font-weight: bold;
}

.timer {
    position: relative;
    float: left;
}

.timer svg circle {
  stroke-dasharray: 440; 
  stroke-dashoffset: 440;
  transition: all 1s linear;
}

#number {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    line-height: 117px;
}

#message{
    color: white;
}

.selected {
    background: #535553;

}